extends layout 

block variables
  - var title = "Home"

block content
  h2.text-center Cats and Coding

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Currently all this app does is allow you to login. Pretty fun, right?
        